<div class="container mt-5">
  <h1 class="text-center mb-4">Transaction Details</h1>
  <div class="card">
    <div class="card-body">
      <p><strong>Type:</strong> <%= @transaction.crypto_type.capitalize %></p>
      <p><strong>Amount:</strong> <%= @transaction.amount %></p>
      <p><strong>Cryptocurrency:</strong> <%= link_to @transaction.cryptocurrency.name, cryptocurrency_path(@transaction.cryptocurrency) %></p>
      <p><strong>User:</strong> <%= link_to @transaction.user.user, user_path(@transaction.user) %></p>
    </div>
  </div>
</div>
